{% extends "pos.html" %}
{% block title %}Nouveau point de vente{% endblock %}
{% block page_header %}<h2 class="mb-4">Créer un nouveau point de vente</h2>{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-body">
                <form method="POST">
                    <div class="mb-3">
                        <label class="form-label">Nom du PDV</label>
                        <input type="text" name="nom_pdv" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Magasin</label>
                        <select name="magasin_id" class="form-select" required>
                            {% for magasin in magasins %}
                                <option value="{{ magasin.id }}">{{ magasin.nom_magasin }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success w-100">Enregistrer le PDV</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}