{% extends 'pos.html' %}
{% block title %}Modifier méthode de paiement{% endblock %}
{% block page_header %}<h2 class="mb-4">Modifier Méthode de Paiement</h2>{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-body">
                <form method="POST">
                    {% if payment_method %}
                        <input type="hidden" name="payment_method_id" value="{{ payment_method.id }}">
                    {% endif %}
                    <div class="mb-3">
                        <label class="form-label">Nom de la méthode de paiement</label>
                        <input type="text" name="nom_payment_method" class="form-control" value="{{ payment_method.nom_payment_method }}" required>
                    </div>
                    <button type="submit" class="btn btn-success w-100">Enregistrer la méthode de paiement</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}